extends ../layout

block content
	p.error #{message}
		style(type='text/css').
			.error {
				color: red;
			}

	if !courses
		form(action=("/database_manager/instructor_course") method="POST")
			p Instructor Username:
				input(type="text" name="username" placeholder="")
			input(type="submit" value="Submit") 
	else 
		p List of all courses Instructor(#{instructor}) gives
		ul
		each course in courses
			li
				p #{course.course_id} #{course.name} #{course.classroom_id} #{course.campus} #{course.time_slot}