extends ../layout

block content
	p.error #{message}
		style(type='text/css').
			.error {
				color: red;
			}

	if !classrooms
		form(action=("/instructor/available_classroom") method="POST")
			p Slot:
				select( name="time_slot")
					option(value=1) 1
					option(value=2) 2
					option(value=3) 3
					option(value=4) 4
					option(value=5) 5
					option(value=6) 6
					option(value=7) 7
					option(value=8) 8
					option(value=9) 9
					option(value=10) 10
			input(type="submit" value="Submit") 
	else 
		p List of all available classrooms for slot: #{slot}
		table
			thead
				tr
					th Classroom ID
					th Campus
					th Capacity
			tbody
				each classroom in classrooms
					tr
						td= classroom.classroom_id
						td= classroom.campus
						td= classroom.capacity