extends ../layout

block content
    p.error #{message}
        style(type='text/css').
            .error {
                color: red;
            }

    p List of all courses you give
    table   
        thead
            tr
                th Course ID
                th Course Name
                th Classroom ID 
                th Time Slot
                th Quota
                th Prerequisite List
        tbody
            each course in courses
                tr
                    td= course.course_id
                    td= course.name
                    td= course.classroom_id
                    td= course.time_slot
                    td= course.quota
                    td= course.pre_list